# Node.js (frontend)関連
node_modules/
npm-debug.log
dist/

# Next.js build output
.next/

# Python (backend)関連
venv/
*.pyc
__pycache__/

# OS関連
.DS_Store
Thumbs.db

# IDE関連
.vscode/
.idea/
*.log

# その他
.env
